/* form */

form .stacked {
  position: relative;
  display: inline-block;
}
fieldset {
  padding: 3% 5% 5% 5%;
  position: relative ;
  margin-bottom: 3%;
}

fieldset ul, fieldset li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.field {
  position: relative;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: .5em;
  margin-right: .2em;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
label {
  position: absolute;
  left: 0;
  top: 0;
  transition: all .2s linear;
  color: #999;
  font-size: .5em; /* 10px; */
  letter-spacing: 1px;
  cursor: pointer;
}

/* input styles */
input {
  border: 1px solid #999;
  line-height: 1em;
  font-size: 1.2em;
  padding: 3px 2px;
  margin-top: 15px;
  width: 100%;
}
input:invalid + label {
  top: 3px;
  opacity: 0;
}
input:valid + label {
  opacity: 1;
  top: 0;
}
input:focus {
  outline: none;
}
input:focus + label {
  color: #d856bb;
}
.width-100percent {
  max-width: 100%;
}
.width-largerThanHalf {
  max-width: 85%;
}
.width-half {
  max-width: 70%;
}
.width-lessThanHalf {
  max-width: 40%;
}
.width-smallerThanHalf {
  max-width: 22%;
}
.no-border {
  border: 0px;
}

button {
  margin-top: 10px;
}

.color1 {
  color: #d856bb;
}

.profilePic {
  background-color: #d856bb;
  background-image: url('../img/profile_image.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 200px;
  max-width: 100%;
}
#picArea img {
  position: relative;
  max-width: 100%;
}

.cameraPic {
  width: 320px;
  height: 240px;
  background-color: #d856bb;
  margin: auto;
}

.center {
  margin: auto;
}


