/*  page style  */

* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

html,
body {
  font-family: 'Questrial', sans-serif;
}

body {
  margin : 0 auto;
  padding : 0;
  font : 100%/1.4;
}

/* header and nav */

.main-header,
.main-nav {
  display: block;
  text-decoration: none;
  width:100%;
}

.main-nav h2 {
  display: block;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
}

/* form */

form .stacked {
  position: relative;
  display: inline-block;
}
fieldset {
  padding: 3% 5% 5% 5%;
  position: relative ;
  margin-bottom: 3%;
}

fieldset ul, fieldset li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.field {
  position: relative;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: .5em;
  margin-right: .2em;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
label {
  position: absolute;
  left: 0;
  top: 0;
  transition: all .2s linear;
  color: #999;
  font-size: .5em; /* 10px; */
  letter-spacing: 1px;
  cursor: pointer;
}

/* input styles */
input {
  border: 1px solid #999;
  line-height: 1em;
  font-size: 1.2em;
  padding: 3px 2px;
  margin-top: 15px;
  width: 100%;
}
input:invalid + label {
  top: 3px;
  opacity: 0;
}
input:valid + label {
  opacity: 1;
  top: 0;
}
input:focus {
  outline: none;
}
input:focus + label {
  color: #d856bb;
}
.width-100percent {
  max-width: 100%;
}
.width-largerThanHalf {
  max-width: 85%;
}
.width-half {
  max-width: 70%;
}
.width-lessThanHalf {
  max-width: 40%;
}
.width-smallerThanHalf {
  max-width: 22%;
}

button {
  margin-top: 10px;
}

.color1 {
  color: #d856bb;
}
.profilePic {
  background-color: #d856bb;
  min-height: 200px;
  max-width: 100%;
}

#webcam {
  max-width: 100%;
}
#picArea img {
  position: relative;
  max-width: 100%;
}



/* column styles */

.span_3_of_3,
.span_5_of_8,
.span_3_of_8,
.span_1_of_3 {
  display: inline-block;
  padding-left: .5em;
  padding-right: .5em;
}

.span_5_of_8 {
  min-height: 20em;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}

/*  footer style  */

.main-footer {
  height: 4em;
  width: 100%;
  color:black;
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.main-footer strong {
  color:black;
  font-size: 8%;
}

/*  SECTIONS  */

.section {
  clear: both;
  padding: .5%;
  margin: .5%;
}


/*  COLUMN SETUP  */
.col {
  display: inline-block;
  float:left;
  margin: 1% 0 1% 2%;
}

.col:first-child {
  margin-left: 0;
}

.breaker {
  clear: both;
}

/*  GRIDS OF THREE AND EIGHT */
.span_3_of_3 {
  width: 100%;
}
.span_2_of_3 {
  width: 66%;
}
.span_1_of_3 {
  width: 32%;
}

.span_5_of_8 {
  width: 61.75%;
}
.span_3_of_8 {
  width: 36.25%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .span_3_of_3 {
    width: 100%;
  }
  .span_2_of_3 {
    width: 100%;
  }
  .span_1_of_3 {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }


@media (min-width: 1px) and (max-width: 768px)  {
.main-nav li,
.main-nav h2 {
  display: block;
  background-color: none;
  text-align: center;
  margin-top: 2%;
}

.main-nav a {
  color:white;
  font-size: 1em;
text-transform: uppercase;
}

.main-header h1,
.main-footer {
  text-align: center;
}
