/*  page style  */

*{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box}

html,
body {
font-family: 'Questrial', sans-serif;
}

body {
margin : 0 auto;
padding : 0;
font : 100%/1.4;
}

/* elements */

/*.info {background-color:silver;}

/* header and nav */

.main-header,
.main-nav {
display: block;
text-decoration: none;
width:100%;
padding-left: 2.5%;
}

.main-nav li {
display: inline-block;
margin: 2%, 0;
padding-right: 5%;
}

.main-nav a:hover {
text-decoration: underline;
color:#CC0099;
}

.main-logo a,
.main-nav a {
display: inline-block;
text-align: left;
color: black;
text-decoration: none;
text-transform: uppercase;
}

/* audio player album 1 */

audio {
width:100%;
}

.album1 {
position: relative;
z-index: 1;
}

#audioplayer {
position: absolute;
z-index: 2;
display:inline-block;
position: relative;
width: 4em;
height: 4em;
margin: auto;
border: solid;
}

#pButton{
width: 4em;
height: 4em;
border: none;
background-size: 50% 50%;
background-repeat: no-repeat;
background-position: center;
outline:none;
}

.play{
background: url('images/play.png');
}

.pause{
background: url('http://www.alexkatz.me/codepen/images/pause.png');
}


/* video player */

#video {
display: inline-block;
position: relative;
width: 100%;
height: auto;
}

/*  footer style  */

.main-footer {
background-color: silver;
color:black;
}

.main-footer strong {
color:white;
font-size: 8%;
}

.main-footer a {
text-align: center;
text-decoration: none;
text-transform: uppercase;
}

/*  SECTIONS  */
.section {
clear: both;
}

.section p {
font-size: 1em;
}

/*  COLUMN SETUP  */

.col {
display: block;
float:left;
margin: 1% 0 1% 2%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
content:"";
display:table;
}
.group:after {
clear:both;
}
.group {
zoom:1; /* For IE 6/7 */
}

.breaker { clear: both; }

/* grid styles */

.span_8_of_8,
.span_5_of_8,
.span_3_of_3,
.span_3_of_8,
.span_1_of_3 {
padding-left: .5em;
padding-right: .5em;
}

.span_3_of_8 img,
.span_3_of_3 img,
.span_1_of_3 img {
width:100%;
}

/*  grid widths  */

.span_3_of_3 {
  width: 100%;
}

.span_1_of_3 {
  width: 32%;
}

.span_8_of_8 {
  width: 100%;
}

.span_5_of_8 {
  width: 61.5%;
}
.span_3_of_8 {
  width: 36.25%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
.span_3_of_3 {
width:100%;
}
.span_1_of_3 {
width:100%;
}
.span_5_of_8 {
width:100%;
}
.span_3_of_8 {
width:100%;
}

@media only screen and (max-width: 480px) {
.col {
margin: 1% 0 1% 0%;
  }


@media (min-width: 1px) and (max-width: 768px)  {

.main-nav li {
display: block;
background-color: none;
text-align: center;
margin-top: 2%;
}

.main-nav a {
color:black;
font-size: 1em;
text-transform: uppercase;
}

.main-header h1 {
text-align: center;
}


